.page{
    height: auto;
    position: relative;
    font-family: '', sans-serif;     
}
.asterisk{
    padding-left:2px;
    color:red;
    font-size: small;
}
.Tone-1{
    background-color: rgb(238, 235, 234);
    height: 40%;
    width: 100%; /* Ensure it covers the full width */
    position: absolute; /* Position it absolutely within .page */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    margin:0;
    z-index: -1;
}
.warnings{
    display: block;
    font-size: x-small;
    color: rgb(156, 16, 16);
    margin-top: 5px;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5px;
    padding: 5px;
}
#message{
    resize: none;
    height:25vh;
}
/*start laptop display*/
.form-container{
    margin:5%;
    margin-left:10%;
    width: 50vw;
    background-color:whitesmoke;
    box-shadow: 0 6px 20px rgba(14, 14, 14, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(17, 17, 18, 0.017));
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    padding:1%;
}
.content{
    display: flex;
}
.talk{
    margin-top:5%;
}
.cards{
    background-color: whitesmoke;
    border:1.5px solid rgba(108, 108, 108, 0.225);
    border-radius: 4px;
    height:20vh;
    margin-top:4%;
    margin-bottom: 4%;
    padding:4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cards:hover{
    box-shadow: 0 6px 20px rgba(14, 14, 14, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(17, 17, 18, 0.017));
    border: 1.5px solid rgba(108, 108, 108, 0.382); 
}
.dialouge{
    width: 20vw;
    margin:2%;
    margin-left:10%;
    margin-top:5%;
}
.box{
    width:30vw;
    height: 6vh;
    padding: 5px;
    border: 1px solid #909090ba;
    border-radius: 2px;
}
.cards>a{
    display: flex;
    gap:10px;
}
label{
    padding-bottom:2px;
}
input:focus, textarea:focus {
    border: 2px solid #909090ba; /* Change border color when input is focused */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(146, 146, 223, 0.549); /* Add a subtle shadow */
}
#submit{
    background-color: black;
    color: whitesmoke;
    width:95px;
    height:40px;
    border-radius:3px;
    border:none;
}
#submit:hover{
    background-color: #F06A6A;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.549); 
    transition: all 0.1s ;
}
#submit:disabled {
    background-color: #ccc; /* Gray background for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}