.page{
    height: auto;
    position: relative;
    font-family: '', sans-serif;     
}
.Tone-1{
    background-color: rgb(238, 235, 234);
    height: 40%;
    width: 100%; /* Ensure it covers the full width */
    position: absolute; /* Position it absolutely within .page */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    margin:0;
    z-index: -1;
}
.warnings{
    display: block;
    font-size: xx-small;
    color: rgb(156, 16, 16);
    margin-top: 5px;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5px;
    padding: 5px;
}
#message{
    resize: none;
    height:25vh;
}
/*start laptop display*/
.form-container{
    margin:5%;
    margin-left:10%;
    width: 50vw;
    background-color:whitesmoke;
    box-shadow: 0 6px 20px rgba(14, 14, 14, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(17, 17, 18, 0.017));
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
    padding:1%;
}
.content{
    display: flex;
}
.dialouge{
    width: 20vw;
    margin-top:4.5%;
    margin-left:10%;
}
.box{
    width:30vw;
    height: 6vh;
    padding: 5px;
    border: 1px solid #909090ba;
    border-radius: 2px;
}
input:focus, textarea:focus {
    border: 2px solid #909090ba; /* Change border color when input is focused */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Add a subtle shadow */
}