video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: auto;
}

.blur-effect{
  filter: blur(10px);
  transition: filter 2s ease-in-out;
}
.visible-text{
  position: absolute;
  top: 50%; /* Adjust as necessary */
  left: 50%; /* Adjust as necessary */
  transform: translate(-50%, -50%); /* Center the text */
  z-index: 1; /* Ensure text is above the video */
  color: white; /* Example text color */
  animation: fadeIn 3s ease-in-out forwards;
  display: flex;
  align-items: center;
}
.visible-text>a{
  font-size: xx-large;
  font-weight: bold;
  margin-right:5px;
}

.invisible-text{
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1920px){
  .visible-text{
    width:99vw;
    justify-content: center;
  }
}
